footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
   
}
footer ul{
    display: flex;
    gap: 1rem;

}
footer ul a{
    color: var(--subtitel);
    font-size: 0.9rem;
    font-weight: 400;
}
footer ul a:hover{
    color: var(--blue);
    font-size: 1rem;
    font-weight: 500;
}
footer p{
    color: rgb(113 ,113 ,122);
}
@media (max-width:640px){
    footer{
        flex-direction: column;
        gap: 1rem;
    }
}