.main{
    display: flex;
    align-items: start;
    gap:2rem;
}
.right-side{
    display: flex;
    flex-wrap: wrap;
    gap: 20px ;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.card{
    border: 1px solid rgba(45, 160, 237, 0.934);
    border-radius: 7px;
    background-image: linear-gradient(rgba(99, 79, 130, 0.728),rgba(57, 121, 193, 0.281),rgba(57, 193, 159, 0.281));
}
.card:hover{
    border: 2px solid var(--blue);
    background-color: rgb(126, 109, 109);
    rotate: 1deg;
    scale: 1.01;
    cursor: pointer;
}
.light .card:hover{
    border: 2px solid rgba(11, 28, 39, 0.934);
    background-color: rgb(246,246,246);
}
.card img{
    border-radius: 7px;
}
.box{
    padding:0.5rem 0.5rem;
}
.box .titel{
    color: var(--titel);
    font-size: 2rem;
    text-transform: capitalize;
}
.box .subtitel{
    color: var(--subtitel);
    font-size: 0.8rem;
    margin-top: 0.7rem;
    margin-bottom: 0.8rem;

}
.left-side{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-left: 15px ; 

}
.left-side button{
    
    width: 10rem;
    background-color: var(--button-hover) ;
    padding: 5px;
    text-align: center;
    font-size: 1.07rem;
    text-transform:capitalize ;
    opacity: 0.5;
    border-radius: 10px;
    color: var(--titel);
    transition: 0.2s;
}
.left-side button:hover{
    opacity: 1;
}
button.active{
    opacity: 1;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding: 8px;
    border: 1px solid var(--blue);

}
.light button{
    background-color: rgb(102, 116, 162);
    color:rgb(0, 0, 0);
    font-size: 1.07rem;
   
}
.light button:hover{ 
    background-color: var(--button-hover) ;
}
.light button.active{
    border: 1px solid rgba(11, 28, 39, 0.934);
    font-weight: bold;
    
    
}
div.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--subtitel);

}
.links .icons{
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
   
}
div.links .icon-unlink:hover,.icon-github:hover{
  color: var(--blue);
  font-size: 1.5rem;
  cursor: pointer;
}
.more-link{
    font-size: 0.9rem;
    color: var(--blue);
}
@media (max-width:670px){
    .main{
        display: flex;
        align-items: center;
        gap:2rem;
        flex-direction: column;
    }
    .left-side{
        display: flex;
       justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
    }
    

}